pip uninstall -y opencv-python
opencv-python-headless==4.8.1.78
streamlit
ultralytics==8.2.0
numpy==1.26.4
pillow
torch==2.2.0
torchvision==0.17.0
--extra-index-url https://download.pytorch.org/whl/cpu
